<h1>Should I Dodge? ...Probably, yeah</h1>

<h2><%= link_to "Start a new game", new_champion_team_path %></br></h2>

<%= link_to "Champions", champions_path %> | <%= link_to "Champion Categories", categories_path %> | <%= link_to "Champion Attributes", properties_path %>
