/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


#Aatrox {
  margin-top: 35px;
}

.ui.inverted.vertical.masthead.center.aligned.segment{
  background-image: url('https://media.giphy.com/media/xT9IgqytoPPhKww9ws/giphy.gif');
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -8.5%;
  padding-bottom: 20%;
}

.new.game.form.title{
  font-size: 400%;
}
.pageCenter {
	margin-left: auto;
	margin-right: auto;
	max-width: 1000px;
	float: none;
}
.outterGrad{
  background: #bdc3c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.pageCenterGame {
	margin-left: auto;
	margin-right: auto;
	max-width: 1000px;
	float: none;
}

.categoryCenterGrad{
  /* background: linear-gradient(to bottom right, white, #99a394); */
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  float: none;
  padding: 35px;
}

.pageGrad {
  background: linear-gradient(to bottom right, white, #99a394);
  margin-left: auto;
  margin-right: auto;
  /* max-width: 1000px; */
  text-align: center;
  float: none;
}

.ui.very.basic.collapsing.celled.table{
  max-width: 1000px;
  max-height: 800px;
  margin-left: 10.5%;
}

.ui.image.header{
  align: center;
}
