<div class="categoryCenterGrad">

<h1 style="text-align: center; font-size: 400%;">Categories</h1></br>



  <div class="ui middle aligned divided list">
  <% @categories.each do |category| %>
    <div class="item">
      <div class="right floated content">
        <div class="ui button" ><%= link_to "Edit", edit_category_path(category) %></div>
      </div>
      <div class="ui avatar image">
        <%= image_tag(random_category_pic) %>
      </div>
      <div class="content">
        <%= link_to category.name.pluralize, category %>
      </div>
    </div>
    <% end %>
  </div>
  <div style= "text-align: center;">
  <%= link_to 'New Category', new_category_path %>
</div>
</div>
